if SHIELD_SKELETYL_LEFT || SHIELD_SKELETYL_RIGHT || SHIELD_SKELETYL_LEFT_PERIPHERAL || SHIELD_SKELETYL_DONGLE_PRO_MICRO || SHIELD_SKELETYL_DONGLE_XIAO

config ZMK_KEYBOARD_NAME
    default "Skeletyl"

endif
